<h1>Lists of lists</h1>

<ul>
<% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
<% end %>
</ul>

<%= link_to '+ Create a list', new_list_path, class: "btn btn-outline-primary"%>
